$link_color: steelBlue;
$text_color: #444;
$text_light_color: #888;
$text_very_light_color: #ccc;

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin border_radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin entry {
  article {
    h1 {
      margin: 0;
      line-height: 1.2;
    }

    .datetime {
      color: $text_light_color;

      .icon {
        margin-right: 5px;
      }
    }

    img {
      max-width: 100%;
    }

    ul {
      list-style-type: disc;
      padding-left: 1.5em;
    }

    #preview {
      margin-top: 40px;
    }
  }
}

// FIXME: not common
@mixin datetime_and_title {
  line-height: 2;
  @include clearfix;

  .datetime, .title {
    float: left;
  }

  .datetime {
    margin-right: 10px;
  }
}
