* {
  margin: 0;
  padding: 0;
}

a {
  color: $link_color;
  text-decoration: none;
}

p {
  margin: 0;
}

p + p,
form p {
  margin-bottom: 1em;
}

h1 {
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  margin: 2em 0 0;
  font-weight: normal;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

table {
  width: 100%;
  line-height: 2;
}

/* 1% is for border space */
input[type=text],
textarea {
  width: 99%;
}

html {
  background: url("bg.png");
}

body {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 40px 100px;
  line-height: 1.7;
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  color: $text_color;
  text-shadow: 0 1px 0 white;
}

header {
  margin-bottom: 0px;
  @include clearfix;

  a {
    color: $text_color;
  }

  h1 {
    float: left;
    margin: 0;
    line-height: 100px;
    font-size: 50px;
    font-weight: bold;

    img {
      margin-bottom: -10px;
      padding-right: 10px;
    }

    i {
      padding-right: 10px;
    }
  }

  nav {
    float: right;
    font-size: 40px;
    @include clearfix;

    ul {
      margin: 0;

      li {
        float: left;
        padding: 0 10px;
        list-style-type: none;
        line-height: 100px;

        &:last-child {
          padding-right: 0;
        }

        a:hover {
          color: $link_color;
        }
      }
    }

    .large {
      font-size: 1.5em;
    }
  }
}

.tipsy {
  text-shadow: none;
}

#about {
  background-image: url("../images/about.jpg");
}

footer {
  margin: 50px 0;
  font-size: 50px;
  text-align: center;

  a {
    color: $text_very_light_color;
  }
}

.paginate {
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  color: $text_very_light_color;

  a, span {
    padding: 0 10px;
  }
}

form.well {
  margin-top: 40px;
}
