* {
  margin: 0;
  padding: 0;
}

a {
  color: $link_color;
  text-decoration: none;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

form p {
  margin-bottom: 1em;
}

h1 {
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0;
  font-weight: normal;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

table {
  width: 100%;
  line-height: 2;
}

/* 1% is for border space */
input[type=text],
textarea {
  width: 99%;
}

pre, code, kbd, samp {
  line-height: 1.5;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background: #fafafa;
}

article {
  margin-top: 40px;
}

br {
  border-top: solid 1px #e2e2e2;
}

img {
  max-width: 100%;
}

article {
  padding: 40px;
  border: solid 1px #ccc;
  box-shadow: inset 0 0 3px #ddd;
  background: white;
  @include border_radius(5px);
}

html {
  background: url("bg.png");
}

body {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 40px 100px;
  line-height: 1.7;
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  color: $text_color;
  text-shadow: 0 1px 0 white;
}

.tipsy {
  text-shadow: none;
}

.paginate {
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  color: $text_very_light_color;

  a, span {
    padding: 0 10px;
  }
}

.form-edit-entry {
  margin-top: 40px;

  .btn {
    margin-right: 10px;
  }

  .btn-danger {
    padding: 4px 12px;
  }
}
