@import "mixin";

$link_color: steelBlue;
$text_color: #444;
$text_light_color: #888;
$text_very_light_color: #ccc;

* {
  margin: 0;
  padding: 0;
}

a {
  color: $link_color;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin: 2em 0 0;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

section {
  margin-bottom: 40px;
}

/* 1% is for border space */
input[type=text],
textarea {
  width: 99%;
}

html {
  background: snow;
}

body {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 40px;
  line-height: 1.7;
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  color: $text_color;
}

header {
  margin-bottom: 40px;
  @include clearfix;

  a {
    color: $text_color;
  }

  h1 {
    float: left;
    margin: 0;
    line-height: 100px;
    font-size: 50px;
  }

  nav {
    float: right;
    font-size: 40px;
    @include clearfix;

    ul {
      margin: 0;

      li {
        float: left;
        padding: 0 10px;
        list-style-type: none;
        line-height: 100px;

        &:last-child {
          padding-right: 0;
        }

        a:hover {
          color: $link_color;
        }
      }
    }

    .large {
      font-size: 1.5em;
    }
  }
}

footer {
  margin: 50px 0;
  font-size: 50px;
  text-align: center;

  a {
    color: $text_very_light_color;
  }
}

.paginate {
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  color: $text_very_light_color;

  a, span {
    padding: 0 10px;
  }
}

form.well {
  margin-top: 40px;
}

#blogs_index {
  section {
    h1 {
      margin: 0;
      padding: 0;
      line-height: 1;
    }
  }

  .blogs {
    margin-top: 0;

    .blog {
      @include clearfix;

      .datetime, .title {
        float: left;
      }

      .datetime {
        margin-right: 10px;
      }
    }
  }
}

#entries_index {
  .stats {
    .entry_count {
      font-size: 30px;
      font-weight: bold;
      color: $text_very_light_color;

      .icon {
        margin-right: 3px;
        font-size: 50px;
      }
    }
  }

  .entry {
    line-height: 2;
    @include clearfix;

    .datetime, .title {
      float: left;
    }

    .datetime {
      margin-right: 10px;
    }
  }
}

#entries_show {
  article {
    h1 {
      margin: 0;
      line-height: 1.2;
    }

    .datetime {
      color: $text_light_color;

      .icon {
        padding-right: 3px;
        line-height: 0.7;
        font-size: 1.4em;
      }
    }
  }
}
