@import "mixin";

$text_color: #444;
$text_light_color: #888;

* {
  margin: 0;
  padding: 0;
}

a {
  color: steelBlue;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin: 2em 0 0;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

html {
  background: snow;
}

body {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 40px 100px;
  line-height: 1.7;
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  color: $text_color;
}

header {
  margin-bottom: 40px;
  line-height: 100px;
  @include clearfix;

  a {
    color: $text_color;
  }

  h1 {
    float: left;
    margin: 0;
    font-size: 50px;
  }

  nav {
    float: right;
    font-size: 40px;
    @include clearfix;

    ul {
      margin: 0;

      li {
        float: left;
        padding: 0 10px;
        list-style-type: none;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .large {
      font-size: 1.5em;
    }
  }
}

#blogs_index {
  section {
    h1 {
      margin: 0;
      padding: 0;
      line-height: 1;
    }
  }

  .blogs {
    margin-top: 0;

    .blog {
      @include clearfix;

      .datetime, .title {
        float: left;
      }

      .datetime {
        margin-right: 10px;
      }
    }
  }
}

#entries_index {
  .entry {
    @include clearfix;

    .datetime, .title {
      float: left;
    }

    .datetime {
      margin-right: 10px;
    }
  }
}

#entries_show {
  article {
    h1 {
      margin: 0;
      line-height: 1.2;
    }

    .datetime {
      color: $text_light_color;

      .icon {
        padding-right: 3px;
        line-height: 0.7;
        font-size: 1.4em;
      }
    }
  }
}
