#blogs_index {
  .hero-unit {
    background: white;

    h2 {
      margin: 0;
      line-height: 1.4;
      font-size: 50px;
      text-align: center;
    }

    p {
      line-height: 1.7;
    }

    i {
      margin-right: 5px;
      line-height: 1.3;
    }

    .form_create_blog,
    .button_container {
      margin: 2em 0 1em;
    }

    .form_create_blog {
      input[type=text] {
        width: 130px;
      }
    }

    aside {
      margin-bottom: 40px;

      ul {
        margin: 0;
        @include clearfix;

        li {
          float: left;
          height: 120px;
          width: 160px;
          margin: 10px 10px 0 0;
          padding: 10px;
          background: #fafafa;
          box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
          @include border_radius(5px);

          &:last-child {
            margin-right: 0;
          }

          h3 {
            margin: 0;
            text-align: center;
          }

          p {
            font-size: 80%;
            text-align: justify;
          }
        }
      }
    }
  }

  section {
    .blogs {
      text-align: left;

      .date {
        width: 100px;
      }

      .username {
        width: 150px;
      }
    }
  }

  form {
    margin-top: 40px;
  }
}


#blogs_show {
  .stats {
    font-weight: bold;
    color: $text_light_color;
    @include clearfix;

    div {
      float: left;
      margin-right: 1em;
      font-size: 20px;

      i {
        margin-right: 5px;
        font-size: 50px;
      }
    }
  }

  .entries {
    margin-top: 1em;

    .date {
      width: 100px;
    }
  }
}
