#blogs_index {
  .hero-unit {
    text-align: center;
    background: white;

    h2 {
      margin: 0;
      line-height: 1.4;
      font-size: 50px;
    }

    p {
      line-height: 1.7;
    }

    i {
      margin-right: 5px;
      line-height: 1.3;
    }

    .form_create_blog,
    .button_container {
      margin: 2em 0 1em;
    }

    .form_create_blog {
      input[type=text] {
        width: 130px;
      }
    }
  }

  section {
    margin-top: 100px;

    .blogs {
      text-align: left;

      .date {
        width: 100px;
      }

      .username {
        width: 150px;
      }
    }
  }

  form {
    margin-top: 40px;
  }
}
