#blogs_index {
  .hero-unit {
    text-align: center;
    background: white;

    h2 {
      margin: 0;
      line-height: 1.4;
      font-size: 50px;
    }

    p {
      line-height: 1.7;
    }

    i {
      margin-right: 5px;
    }

    .button_container {
      margin: 2em 0 1em;
    }
  }

  section {
    margin-top: 100px;

    h1 {
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    .blogs {
      .blog {
        @include clearfix;

        .datetime, .title {
          float: left;
        }

        .datetime {
          margin-right: 10px;
        }
      }
    }
  }
}
