@mixin entry {
  article {
    h1 {
      margin: 0;
      line-height: 1.2;
    }

    h2 {
      line-height: 1.7;

      &:before {
        content: "\273b";
        padding-right: .2em;
        color: #E66E04;
      }
    }

    img {
      max-width: 100%;
    }

    ul, ol {
      margin: 0;
    }

    ul {
      list-style-type: disc;
      padding-left: 1.5em;
    }

    .datetime {
      color: $text_light_color;

      i {
        margin-right: 5px;
      }
    }

    .body {
      margin-top: 1em;
    }
  }
}

#entries_index {
  .stats {
    font-weight: bold;
    color: $text_light_color;
    @include clearfix;

    p {
      float: left;
      margin-right: 1em;
      font-size: 20px;

      i {
        margin-right: 5px;
        font-size: 50px;
      }
    }
  }

  .entry {
    line-height: 2;
    @include clearfix;
    @include datetime_and_title;
  }
}

#entries_show {
  @include entry;

  form {
    margin-top: 40px;
  }
}

#entries_new {
  @include entry;
}
