@mixin entry_index {
  .stats {
    font-weight: bold;
    color: $text_light_color;
    @include clearfix;

    p {
      float: left;
      margin-right: 1em;
      font-size: 20px;

      i {
        margin-right: 5px;
        font-size: 50px;
      }
    }
  }

  .entry {
    line-height: 2;
    @include clearfix;
    @include datetime_and_title;
  }
}

#entries_index {
  @include entry_index;
}

#entries_search {
  @include entry_index;
}

#entries_show {
  @include entry;

  form {
    margin-top: 40px;
  }
}
