@mixin entry {
  article {
    header {
      margin: 0;

      h1 {
        margin: 0;
        line-height: 1.2;
        font-weight: normal;
        font-size: 40px;

        a {
          color: $text_color;
        }
      }
    }

    footer {
      color: $text_light_color;
      @include clearfix;

      .datetime {
        float: left;

        i {
          margin: 0 4px;
        }
      }

      .star-container {
        float: left;
        margin-left: 10px;
        line-height: 1.5;

        .hatena-star-comment-button,
        .hatena-star-add-button {
          vertical-align: text-bottom !important;
        }

        .hatena-star-add-button-image {
          background-image: url("http://s.hatena.ne.jp/images/add_bl.gif");
        }

        .hatena-star-comment-button-image {
          background-image: url("http://s.hatena.ne.jp/images/comment_bl.gif");
        }
      }
    }

    .body {
      margin-top: 1em;

      h2 {
        margin: 3em 0 0.5em;
        border-bottom: dashed 1px #999;
        line-height: 1.7;
        font-size: 1.2em;
        font-weight: bold;
      }

      h3 {
        margin: 2em 0 0;
        line-height: 1.7;
        font-size: 1em;
        color: black;

        &:before {
          content: "\273b";
          padding-right: .4em;
          color: red;
        }
      }

      h4 {
        font-size: 1em;
        font-weight: bold;
      }

      img {
        max-width: 100%;
      }

      ul, ol {
        margin: 0;
      }

      ul {
        list-style-type: disc;
        padding-left: 1.5em;
      }
    }
  }
}

#entries_show {
  @include entry;

  form {
    margin-top: 40px;
  }
}

#entries_new {
  @include entry;
}
