@import "common";

#blogs_index {
  section {
    h1 {
      margin: 0;
      padding: 0;
      line-height: 1;
    }
  }

  .hero-unit {
    text-align: center;
    background: white;

    h1 {
      margin-top: 10px;
    }

    p {
      line-height: 1.7;
    }

    i {
      margin-right: 5px;
    }
  }

  .blogs {
    margin-top: 0;

    .blog {
      @include clearfix;

      .datetime, .title {
        float: left;
      }

      .datetime {
        margin-right: 10px;
      }
    }
  }
}
