@import "common";

@mixin entry_index {
  .stats {
    .entry_count {
      font-size: 30px;
      font-weight: bold;
      color: $text_very_light_color;

      .icon {
        margin-right: 3px;
        font-size: 50px;
      }
    }
  }

  .entry {
    line-height: 2;
    @include clearfix;

    .datetime, .title {
      float: left;
    }

    .datetime {
      margin-right: 10px;
    }
  }
}

#entries_index {
  @include entry_index;
}

#entries_search {
  @include entry_index;
}

#entries_show {
  article {

    h1 {
      margin: 0;
      line-height: 1.2;
    }

    .datetime {
      color: $text_light_color;

      .icon {
        padding-right: 3px;
        line-height: 0.7;
        font-size: 1.4em;
      }
    }

    img {
      max-width: 100%;
    }

    ul {
      list-style-type: disc;
      padding-left: 1.5em;
    }
  }
}
